
/*format écran ordi*/

.header {

    height: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;
    margin: 0px;

    .row {
        display: flex;
    
        .logo {
            padding: 0 14vw 0 4vw;
            margin-top: -24px;

            img {
                width: 5vw;
            }
        }

        .nav-menu {
            padding-right: 14vw;
            
            .list-content {
                width: 31vw;
                list-style-type: none;
                margin: 0;
                padding: 0;
                    li {
                        display: inline;
                        font-size: 12px;
                        font-weight: 600;
                        padding-right: 6%;
                            &:hover{
                                color: #f68773;
                            }
                    }
            }
        }

        .search {

            input {
                margin-top: -8px;
                width: 12vw;
                height: 36px;
                border: 1px solid rgb(211, 210, 210);
                position:absolute; 
                padding-left: 1%;
                border-radius: 20px;
                
            }
        
            ::placeholder {
                padding-top: 5px;
                display: inline;
                color: #d1cfcf;
                text-align: left;
                vertical-align: baseline;
                
            }

            i {
                box-sizing: border-box;
                position: relative;
                padding-left: 10vw;
                color: #d1cfcf;
            }
        }
        
        .icon {
            padding-left: 8vw;
            padding-right: 3vw;
            ul {
                position: relative;
                width: 10vw;
                margin: 0;
                padding: 0;
                list-style-type: none;
                

            }

            li {
                cursor: pointer;
                display: inline;
                color: #949799;
                font-weight: 550;
                font-size: 20px;
                padding-left: 7% ;
                &:hover{
                    color: #f68773;
                    }
            }
        
        } 
    }
}
