@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

header {
    padding-bottom: 20px;

}

.header {
    margin-top: 5px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;


    .row {
        display: flex;
    
        .logo {
            padding: 0 10vw 0 3vw;

            img {
                width: 5vw;
            }
        }

        .nav-menu {
            
            .list-content {
                width: 44vw;
                list-style-type: none;
                margin: 0;
                padding: 0;
                    
                li {
                    display: inline;
                    font-size: 12px;
                    font-weight: 600;
                    padding-right: 5%;
                    &:hover{
                        color: #f68773;
                    }
                }

                a {
                    text-decoration: none;
                    color: #222;
                    &:active {
                        text-decoration: none;
                    color: #222;
                    }
                    &:hover{
                        color: #f68773;
                    }
                }
            }
        }

        .search2 {
            box-sizing: border-box;

            input {
                margin-top: -8px;
                width: 12vw;
                height: 36px;
                border: 1px solid rgb(211, 210, 210);
                position:absolute; 
                padding-left: 1%;
                border-radius: 20px;
                font-size: 12px;
                
            }
        
            ::placeholder {
                padding-top: 5px;
                display: inline;
                color: #d1cfcf;
                text-align: left;
                vertical-align: baseline;
                
            }

            i {
                box-sizing: border-box;
                position: relative;
                padding-left: 10vw;
                color: #d1cfcf;
            }
        }
        
        .icon {
            box-sizing: border-box;
            padding-left: 5vw;

            ul {
                position: relative;
                width: 14vw;
                margin: 0;
                padding: 0;
                list-style-type: none;
                    
                .loupe {
                    display: none;
                }
                .barres {
                    display: none;
                }
                

            }

            li {
                cursor: pointer;
                display: inline;
                color: #949799;
                font-weight: 550;
                font-size: 20px;
                padding-left: 7% ;
                &:hover{
                    color: #f68773;
                }
            }
        
        } 
    }
}

#sectiontitle {
    background-color: #222;
    width: 100%;
    height: 100px;
    display: flex;;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
        color: white;
        font-size: 22px;
        align-self: center;
    }
}

h2 {
    text-transform: uppercase;
}

.search {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #222;
    border: none;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    font-weight: 700;
    &:hover{
        color: #f68773;
    }
}

#searchboxes {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;

    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
    grid-template-rows: auto;

    .textarea {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0px;
        border: 1px solid #999;
    }

    hr {
        background-color: #999;
        color: #999;
        border-color: #999;
    }

    #areasearch {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        padding-left: 4%;
        padding-right: 4%;
        
        border: 1px solid #999;

        #x4 {
            
            display: grid;
            grid-template-columns: 47% 47%;
            column-gap: 6%;
            grid-template-rows: auto;
            row-gap: 20px;

            #country {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            #state {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
            }

            #town {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            #zipcode {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }
        }

        
    }

    #distancesearch {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        padding-left: 4%;
        padding-right: 4%;

        border: 1px solid #999;
        
        #x2 {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto;
            row-gap: 20px;

            #location {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            #radius {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }
        }
    }
}

#storeboxes {
    margin-top: 80px;
    margin-bottom: 80px;

    width: 75%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;

    display: grid;
    grid-template-columns: 32% 64%;
    grid-template-rows: auto;
    column-gap: 4%;

    #storelist {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        box-sizing: border-box;

        height: calc(75 / 100 * 64 / 100 * 100vw);

        padding-left: 4%;
        padding-right: 4%;
        
        border: 1px solid #999;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;

        #storetitle {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }


        #individualstorebox {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            height: calc((75 / 100 * 64 / 100 * 100vw) - 80px);
            
            overflow: scroll;

            box-sizing: border-box;

            .store {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                box-sizing: border-box;

                color: #999;

                h3 {
                    color: #222;
                }
    
                img {
                    width: 50%;
                    height: 50%;
                }
                
    
                .textbox {
                    width: 70%;
                }
            }
        }

        .store {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;

            img {
                width: 50%;
                height: 50%;
                padding-top: 12%;
            }
            

            .textbox {
                width: 70%;
                padding-left: 8px;
            }
        }
    }

    #gmap {
        border: 1px solid #999;

        .vastore {
            z-index: 5;
            position: absolute;
            box-sizing: border-box;
            right: 0%;
            bottom: 0%;

            .search {
                margin-bottom: 0px;
            }
        }

    }

    .container {
        position: relative;
        padding-bottom: 100%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }

    .map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

}

footer {

    font-size: 12px;
    color: #999;

    a {
        text-decoration: none;
        color: #999;
        &:active {
            text-decoration: none;
            color: #999;
        }
    }

    /* positionnement dans le grid */

    #footer1 {
        display: none;

        margin-left: 12.5%;
        margin-right: 12.5%;
        display: grid;
        grid-template-columns: 40% 18% 18% 18%;
        column-gap: 2%;
        grid-template-rows: auto;

        margin-bottom: 20px;
        
        #ftcontact {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        #helpinfo {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        #about {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
        }

        #onlineshop {
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        #languages {
            display: none;
        }

        #currency {
            display: none;
        }

        /* mise en forme du texte */

        .ftcontactstyle {
            font-size: 15px;
            line-height: 3em;

            .ftcontactpic {
                padding-bottom: 0.75em;
            }

            .fa-map-marker-alt {
                padding-top: 1em;
                vertical-align: top;
            }

            .fa-envelope {
                vertical-align: middle;
            }

            .fa-phone-alt {
                vertical-align: middle;
            }

            .ftaddress {
                display: inline-block;
                line-height: 1em;
            }

            .fas {
                font-size: 25px;
                padding: 2px;
                padding-right: 10px;
            }

            .far {
                font-size: 25px;
                padding: 2px;
                padding-right: 10px;
            }
        }
        
        .listssection {

            color: #999;

            .fttitle {
                padding-bottom: 1em;
                text-transform: uppercase;
                color: #222;
                font-size: 12px;
            }
            
            .liform {
                list-style-type: none;
                padding-left: 0px;
                line-height: 2em;
            }
            
            select {
                margin-top: 1em;
                margin-bottom: 3em;
            }
        }
    }

    hr {
        display: none;
        background-color: #999;
    }

    #footer2 {
        margin-left: 12.5%;
        margin-right: 12.5%;
        display: grid;
        grid-template-columns: repeat(3, calc(100%/3));
        grid-template-rows: auto;
        margin-bottom: 50px;

        #copyright {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            color: #999;

            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            strong {
                color: #222;
            }
        }

        #pritou {
            display: none;

            font-size: 16px;
            padding-top: 15px;

            .pritouspa {
                padding-left: 15px;
            }
        }

        #ftsoc {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-size: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .fab {
                padding: 3px;
            }
        }

        #payment {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;

            .paymentpic {
                padding: 2px;
            }
        }
    }
}