/*Header*/

header {
    width: 100vw;
    padding-bottom: 20px;

}

.header {
    margin-top: 5px;
    height: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec;


    .row {
        display: flex;
    
        .logo {
            padding: 0 10vw 0 3vw;
            margin-top: -20px;

            img {
                width: 5vw;
            }
        }

        .nav-menu {
            padding-right: 7vw;
            
            .list-content {
                width: 44vw;
                list-style-type: none;
                margin: 0;
                padding: 0;
                    li {
                        display: inline;
                        font-size: 12px;
                        font-weight: 600;
                        padding-right: 5%;
                            &:hover{
                                color: #f68773;
                            }
                    }
            }
        }

        .search {
            box-sizing: border-box;

            input {
                margin-top: -8px;
                width: 12vw;
                height: 36px;
                border: 1px solid rgb(211, 210, 210);
                position:absolute; 
                padding-left: 1%;
                border-radius: 20px;
                font-size: 12px;
                
            }
        
            ::placeholder {
                padding-top: 5px;
                display: inline;
                color: #d1cfcf;
                text-align: left;
                vertical-align: baseline;
                
            }

            i {
                box-sizing: border-box;
                position: relative;
                padding-left: 10vw;
                color: #d1cfcf;
            }
        }
        
        .icon {
            box-sizing: border-box;
            padding-left: 5vw;

            ul {
                position: relative;
                width: 14vw;
                margin: 0;
                padding: 0;
                list-style-type: none;
                    .loupe {
                        display: none;
                    }
                    .barres {
                        display: none;
                    }
                

            }

            li {
                cursor: pointer;
                display: inline;
                color: #949799;
                font-weight: 550;
                font-size: 20px;
                padding-left: 7% ;
                &:hover{
                    color: #f68773;
                    }
            }
        
        } 
    }
}