@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.header {
  padding: 0px 50px;
  border-bottom: 1px solid #ececec; }

.logo {
  padding: 26px 15px 30px; }

.nav-menu {
  padding: 40px; }

.search {
  position: relative;
  box-sizing: content-box;
  max-width: 80%;
  border: 1px solid #d1cfcf;
  padding: 8px;
  margin-top: 30px;
  border-radius: 25px; }
  .search input {
    border: none;
    position: absolute;
    left: 15px; }
  .search i {
    margin-right: 20px;
    color: #d1cfcf; }
  .search ::placeholder {
    color: #d1cfcf; }

.icon {
  margin-top: 38px;
  padding-left: 30px; }
  .icon li {
    margin: 0 10px; }
  .icon i {
    color: #949799;
    font-weight: 550;
    font-size: 20px; }

/* rechercher telephone, tablette ou bureau pour atteindre la section correspondante 


pour téléphone */
@media screen and (max-width: 450px) {
  body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: #999;
    line-height: 1.5em; }
    body h1 {
      display: none; }
    body h2 {
      font-size: 30px;
      color: #222;
      font-weight: 700; }
    body h3 {
      color: #222;
      margin-bottom: 0px; }
    body .fa-star {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .fa-star-o {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .price {
      font-size: 18px; }
    body .prixbarre {
      font-size: 18px;
      text-decoration: line-through; }
    body .more {
      color: #222;
      text-decoration: underline;
      font-variant: small-caps;
      font-weight: 700; }
    body .more:active {
      color: #222;
      text-decoration: underline;
      font-variant: small-caps;
      font-weight: 700; }
    body .more:hover {
      background-color: aqua; }
    body .lnauthor {
      color: #F68773;
      font-weight: 700; }
    body .namore {
      font-size: 18px; }
  #topbox {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75vh repeat(3, 200px); }
    #topbox #topbox001 {
      display: none;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-attachment: fixed;
      background-size: cover; }
    #topbox #topbox002 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      z-index: 10;
      background-image: url(../pictures/homepage/abc.jpg);
      background-size: cover; }
    #topbox #topbox003 {
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-row: 3 / 4;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-row: 4 / 5;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 35px; }
    #global #topsellers {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      margin-top: 10px;
      margin-bottom: 50px;
      box-sizing: border-box; }
      #global #topsellers #ts001 {
        grid-row-start: 1;
        grid-row-end: 2; }
      #global #topsellers #ts002 {
        grid-row: 2 / 3; }
      #global #topsellers #ts003 {
        grid-row: 3 / 4; }
      #global #topsellers #ts004 {
        grid-row: 4 / 5; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 47% 47%;
      grid-column-gap: 6%;
      grid-template-rows: auto;
      box-sizing: border-box;
      padding-top: 15px;
      padding-bottom: 35px; }
      #global #newarrival #na001 {
        display: none; }
      #global #newarrival #na002 {
        display: none; }
      #global #newarrival #na003 {
        display: none; }
      #global #newarrival #na004 {
        display: none; }
      #global #newarrival #na005 {
        display: none; }
      #global #newarrival #na006 {
        display: none; }
      #global #newarrival #na007 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na008 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na009 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na010 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na011 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; }
      #global #newarrival #na012 {
        grid-column: 2 / 2;
        grid-row: 3 / 4; }
      #global #newarrival #nadiscover {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        text-align: center; }
  #dealoftheday {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45%;
    box-sizing: border-box; }
    #dealoftheday .timer {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 80px;
      background-color: white; }
  #global2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
    box-sizing: border-box; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto; }
      #global2 #latestnews #ln001 {
        display: none; }
      #global2 #latestnews #ln002 {
        display: none; }
      #global2 #latestnews #ln003 {
        display: none; }
      #global2 #latestnews #ln004 {
        grid-row: 1 / 2; }
      #global2 #latestnews #ln005 {
        grid-row: 2 / 3; }
      #global2 #latestnews #ln006 {
        grid-row: 3 / 4; }
    #global2 #keepconnected {
      display: grid;
      grid-template-rows: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-row: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-row: 2 / 3; }
  #bottompics {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: calc(100%-40px);
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr); }
    #bottompics #bp001 {
      grid-column: 1 / 2; }
    #bottompics #bp002 {
      grid-column: 2 / 3; }
    #bottompics #bp003 {
      grid-column: 3 /4; }
    #bottompics #bp004 {
      display: none; }
    #bottompics #bp005 {
      display: none; }
    #bottompics #bp006 {
      display: none; }
    #bottompics #bp007 {
      display: none; }
    #bottompics #bp008 {
      display: none; }
    #bottompics #bp009 {
      display: none; }
    #bottompics #bp010 {
      display: none; }
    #bottompics #bp011 {
      display: none; }
    #bottompics #bp012 {
      display: none; }
    #bottompics #bp013 {
      display: none; }
    #bottompics #bp014 {
      display: none; }
  .topsection h3 {
    font-size: 18px; }
  .tssection {
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: border-box; }
    .tssection .tspic1 {
      display: block;
      width: 70%;
      height: auto; }
    .tssection .tspic2 {
      display: block;
      width: 100%;
      height: auto; }
    .tssection h3 {
      font-size: 24px;
      margin-bottom: 5px; }
  .nasection {
    padding-top: 10px;
    padding-bottom: 20px; }
    .nasection .napic {
      display: block;
      width: 100%;
      height: auto; }
    .nasection h3 {
      font-size: 18px; }
  .lnsection {
    padding-top: 10px;
    padding-bottom: 20px; }
    .lnsection .lnpic {
      display: block;
      width: 100%;
      height: auto; }
    .lnsection .more {
      font-size: 18px; }
  .kcsection {
    border: 1px solid black; }
  .picturerow .prpic {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; } }

/* pour tablettes */
@media screen and (min-width: 451px) and (max-width: 770px) {
  h1 {
    display: none; }
  #topbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh repeat(3, 300px); }
    #topbox #topbox001 {
      display: none;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-attachment: fixed;
      background-size: cover; }
    #topbox #topbox002 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      background-image: url(../pictures/homepage/abc.jpg);
      background-size: cover; }
    #topbox #topbox003 {
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-row: 3 / 4;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-row: 4 / 5;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    box-sizing: border-box; }
    #global #topsellers {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; }
      #global #topsellers #ts001 {
        display: none; }
      #global #topsellers #ts002 {
        grid-row: 1 / 2; }
      #global #topsellers #ts003 {
        grid-row: 2 / 3; }
      #global #topsellers #ts004 {
        display: none; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; }
      #global #newarrival #na001 {
        display: none; }
      #global #newarrival #na002 {
        display: none; }
      #global #newarrival #na003 {
        display: none; }
      #global #newarrival #na004 {
        display: none; }
      #global #newarrival #na005 {
        display: none; }
      #global #newarrival #na006 {
        display: none; }
      #global #newarrival #na007 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na008 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na009 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na010 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na011 {
        display: none; }
      #global #newarrival #na012 {
        display: none; }
  #dealoftheday {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15%;
    padding-bottom: 15%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%; }
    #dealoftheday .timer {
      display: block;
      width: 60%;
      height: 80px;
      background-color: white; }
  #global2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 35px; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 50% 50%; }
      #global2 #latestnews #ln001 {
        display: none; }
      #global2 #latestnews #ln002 {
        display: none; }
      #global2 #latestnews #ln003 {
        display: none; }
      #global2 #latestnews #ln004 {
        grid-row: 1 / 2;
        grid-column: 1 / 3; }
      #global2 #latestnews #ln005 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      #global2 #latestnews #ln006 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
    #global2 #keepconnected {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 20px;
      margin-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-column: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-column: 2 / 3; }
  #bottompics {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr); }
    #bottompics #bp001 {
      display: none; }
    #bottompics #bp002 {
      display: none; }
    #bottompics #bp003 {
      grid-column: 1 / 2; }
    #bottompics #bp004 {
      grid-column: 2 / 3; }
    #bottompics #bp005 {
      grid-column: 3 / 4; }
    #bottompics #bp006 {
      grid-column: 4 /5; }
    #bottompics #bp007 {
      grid-column: 5 / 6; }
    #bottompics #bp008 {
      display: none; }
    #bottompics #bp009 {
      display: none; }
    #bottompics #bp010 {
      display: none; }
    #bottompics #bp011 {
      display: none; }
    #bottompics #bp012 {
      display: none; }
    #bottompics #bp013 {
      display: none; }
    #bottompics #bp014 {
      display: none; }
  .tssection {
    display: flex;
    flex-direction: row-reverse;
    width: 100%; }
    .tssection .tspic2 {
      display: inline-block;
      width: 80%;
      height: auto;
      margin-left: -10%; }
    .tssection .ts001text {
      display: inline-block;
      z-index: 10;
      width: 30%; }
  .nasection .napic {
    display: block;
    width: 80%;
    height: auto; }
  .lnsection .lnpic {
    display: block;
    width: 100%;
    height: auto; }
  .kcsection {
    border: 1px solid black; }
  .picturerow .prpic {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; } }

/* pour bureau */
@media screen and (min-width: 770px) {
  h1 {
    display: none; }
  #topbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75vh 25vh; }
    #topbox #sneakerpic {
      grid-row: 1 / 2;
      grid-column: 1 / 4; }
    #topbox #topbox001 {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: cover; }
    #topbox #topbox002 {
      display: none; }
    #topbox #topbox003 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    width: 65%;
    margin-left: auto;
    margin-right: auto; }
    #global #topsellers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto; }
      #global #topsellers #ts001 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #topsellers #ts002 {
        grid-column: 2 / 4;
        grid-row: 1 / 2; }
      #global #topsellers #ts003 {
        grid-column: 1 / 3;
        grid-row: 2 / 3; }
      #global #topsellers #ts004 {
        grid-column: 3 / 4;
        grid-row: 2 / 3; }
    #global #newarrival {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto; }
      #global #newarrival #na001 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na002 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na003 {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      #global #newarrival #na004 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na005 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na006 {
        grid-column: 3 / 4;
        grid-row: 2 / 3; }
      #global #newarrival #na007 {
        display: none; }
      #global #newarrival #na008 {
        display: none; }
      #global #newarrival #na009 {
        display: none; }
      #global #newarrival #na010 {
        display: none; }
      #global #newarrival #na011 {
        display: none; }
      #global #newarrival #na012 {
        display: none; }
  #dealoftheday {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 15%;
    padding-bottom: 15%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%; }
    #dealoftheday .timer {
      display: block;
      width: 50%;
      height: 80px;
      background-color: white; }
  #global2 {
    width: 65%;
    margin-left: auto;
    margin-right: auto; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr); }
      #global2 #latestnews #ln001 {
        grid-column: 1 / 2; }
      #global2 #latestnews #ln002 {
        grid-column: 2 / 3; }
      #global2 #latestnews #ln003 {
        grid-column: 3 / 4; }
      #global2 #latestnews #ln004 {
        display: none; }
      #global2 #latestnews #ln005 {
        display: none; }
      #global2 #latestnews #ln006 {
        display: none; }
    #global2 #keepconnected {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 20px;
      margin-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-column: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-column: 2 / 3; }
  #bottompics {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr); }
    #bottompics #bp001 {
      display: none; }
    #bottompics #bp002 {
      display: none; }
    #bottompics #bp003 {
      display: none; }
    #bottompics #bp004 {
      display: none; }
    #bottompics #bp005 {
      display: none; }
    #bottompics #bp006 {
      display: none; }
    #bottompics #bp007 {
      display: none; }
    #bottompics #bp008 {
      grid-column: 1 / 2; }
    #bottompics #bp009 {
      grid-column: 2 / 3; }
    #bottompics #bp010 {
      grid-column: 3 / 4; }
    #bottompics #bp011 {
      grid-column: 4 / 5; }
    #bottompics #bp012 {
      grid-column: 5 / 6; }
    #bottompics #bp013 {
      grid-column: 6 / 7; }
    #bottompics #bp014 {
      grid-column: 7 / 8; }
  .topsection {
    border: 1px solid black; }
  .nasection .napic {
    display: block;
    width: 80%;
    height: auto; }
  .nasection .blue {
    display: inline-block;
    position: relative;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 2px #d6d3d3;
    background-color: #5760e0; }
  .nasection .red {
    display: inline-block;
    position: relative;
    margin-right: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: solid 2px #d6d3d3;
    background-color: #ff4343; }
  .tssectionbig2 {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .tssectionbig2 .tspic1 {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: -10%; }
    .tssectionbig2 .ts001txt {
      display: inline-block;
      z-index: 10; }
  .tssectionbig1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    overflow: visible; }
    .tssectionbig1 .tspic2 {
      display: inline-block;
      width: 80%;
      height: auto;
      margin-left: -10%; }
    .tssectionbig1 .ts001text {
      display: inline-block;
      z-index: 10;
      width: 30%; }
  .lnsection .lnpic {
    display: block;
    width: 100%;
    height: auto; }
  .kcsection {
    border: 1px solid black; }
  .picturerow .prpic {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover; } }
