@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* rechercher telephone, tablette ou bureau pour atteindre la section correspondante 


pour téléphone */
@media screen and (max-width: 450px) {
  header {
    padding-bottom: 20px; }
  .header {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec; }
    .header .row {
      width: 100%;
      display: flex; }
      .header .row .logo {
        padding: 5 25vw 0 5vw; }
        .header .row .logo img {
          width: 23vw;
          max-width: 90px; }
      .header .row .nav-menu {
        display: none;
        padding-right: 6vw; }
        .header .row .nav-menu .list-content {
          width: 40vw;
          list-style-type: none;
          margin: 0;
          padding: 0; }
          .header .row .nav-menu .list-content li {
            display: inline;
            font-size: 12px;
            font-weight: 600;
            padding-right: 6%; }
            .header .row .nav-menu .list-content li:hover {
              color: #f68773; }
      .header .row .search {
        display: none;
        box-sizing: border-box; }
        .header .row .search input {
          margin-top: -8px;
          width: 12vw;
          height: 36px;
          border: 1px solid #d3d2d2;
          position: absolute;
          padding-left: 1%;
          border-radius: 20px; }
        .header .row .search ::placeholder {
          padding-top: 15px;
          display: inline;
          color: #d1cfcf;
          text-align: left;
          vertical-align: baseline; }
        .header .row .search i {
          box-sizing: border-box;
          position: relative;
          padding-left: 10vw;
          color: #d1cfcf; }
      .header .row .icon {
        padding-top: 8px; }
        .header .row .icon ul {
          margin: 0;
          list-style-type: none;
          display: flex;
          padding-left: 25vw; }
          .header .row .icon ul .engrenage {
            display: none; }
        .header .row .icon li {
          cursor: pointer;
          color: #949799;
          font-size: 18px;
          padding-left: 10%; }
          .header .row .icon li:hover {
            color: #f68773; }
  body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: #999;
    line-height: 1.5em; }
    body h1 {
      display: none; }
    body h2 {
      font-size: 30px;
      color: #222;
      font-weight: 700; }
    body h3 {
      color: #222;
      margin-bottom: 0px; }
    body .fa-star {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .fa-star-o {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .price {
      font-size: 18px; }
    body .prixbarre {
      font-size: 18px;
      text-decoration: line-through; }
    body .more {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:hover {
        color: #f68773; }
    body .more:active {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:active:hover {
        color: #f68773; }
    body .lnauthor {
      color: #F68773;
      font-weight: 700; }
    body .namore {
      font-size: 18px; }
  #topbox {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75vh auto; }
    #topbox #topboxicons {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 77; }
    #topbox #dots {
      display: none;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 77; }
    #topbox #topbox001 {
      display: none;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-attachment: fixed;
      background-size: cover; }
    #topbox #topbox002 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      z-index: 10;
      background-image: url(../pictures/homepage/abc.jpg);
      background-size: cover; }
    #topbox #topbox003 {
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-row: 3 / 4;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-row: 4 / 5;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 80px; }
    #global #topsellers {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      margin-top: 20px;
      margin-bottom: 80px;
      box-sizing: border-box; }
      #global #topsellers #ts001 {
        grid-row-start: 1;
        grid-row-end: 2; }
      #global #topsellers #ts002 {
        grid-row: 2 / 3; }
      #global #topsellers #ts003 {
        grid-row: 3 / 4; }
      #global #topsellers #ts004 {
        grid-row: 4 / 5; }
    #global #newarrivalmenus {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto; }
      #global #newarrivalmenus #namenu1 {
        grid-row: 1 / 2; }
      #global #newarrivalmenus #namenu2 {
        grid-row: 2 / 3; }
      #global #newarrivalmenus #namenu3 {
        display: none; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 47% 47%;
      grid-column-gap: 6%;
      grid-template-rows: auto;
      box-sizing: border-box;
      padding-top: 15px;
      padding-bottom: 35px; }
      #global #newarrival #na001 {
        display: none; }
      #global #newarrival #na002 {
        display: none; }
      #global #newarrival #na003 {
        display: none; }
      #global #newarrival #na004 {
        display: none; }
      #global #newarrival #na005 {
        display: none; }
      #global #newarrival #na006 {
        display: none; }
      #global #newarrival #na007 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na008 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na009 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na010 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na011 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; }
      #global #newarrival #na012 {
        grid-column: 2 / 2;
        grid-row: 3 / 4; }
      #global #newarrival #nadiscover {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
        text-align: center;
        padding-top: 50px; }
  #dealoftheday {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 45%;
    box-sizing: border-box; }
    #dealoftheday h3 {
      font-size: 24px; }
    #dealoftheday .dotdprice {
      font-size: 15px; }
      #dealoftheday .dotdprice .dprixbarre {
        text-decoration: line-through; }
      #dealoftheday .dotdprice .dprice {
        font-weight: 700;
        color: #222;
        padding-left: 5px; }
    #dealoftheday .reduction {
      color: white;
      background-color: #F68773;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #dealoftheday .stock {
      display: none; }
    #dealoftheday #timer {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: auto; }
      #dealoftheday #timer #cdwndays {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnhours {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnmin {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnsec {
        grid-column: 4 / 5;
        grid-row: 1 / 2; }
  #global2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    margin-bottom: 35px;
    box-sizing: border-box; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto; }
      #global2 #latestnews #ln001 {
        display: none; }
      #global2 #latestnews #ln002 {
        display: none; }
      #global2 #latestnews #ln003 {
        display: none; }
      #global2 #latestnews #ln004 {
        grid-row: 1 / 2; }
      #global2 #latestnews #ln005 {
        grid-row: 2 / 3; }
      #global2 #latestnews #ln006 {
        grid-row: 3 / 4; }
    #global2 #keepconnected {
      display: grid;
      grid-template-rows: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-row: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-row: 2 / 3; }
  #bottompics {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    width: calc(100%-40px);
    display: grid;
    grid-template-rows: auto;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr); }
    #bottompics #bp001 {
      grid-column: 1 / 2; }
    #bottompics #bp002 {
      grid-column: 2 / 3; }
    #bottompics #bp003 {
      grid-column: 3 /4; }
    #bottompics #bp004 {
      display: none; }
    #bottompics #bp005 {
      display: none; }
    #bottompics #bp006 {
      display: none; }
    #bottompics #bp007 {
      display: none; }
    #bottompics #bp008 {
      display: none; }
    #bottompics #bp009 {
      display: none; }
    #bottompics #bp010 {
      display: none; }
    #bottompics #bp011 {
      display: none; }
    #bottompics #bp012 {
      display: none; }
    #bottompics #bp013 {
      display: none; }
    #bottompics #bp014 {
      display: none; }
    #bottompics #followus {
      display: none; }
  .topsection {
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 10%;
    padding-right: 10%; }
    .topsection h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.25em; }
    .topsection .more {
      font-size: 16px; }
      .topsection .more:hover {
        color: #f68773; }
  .tpbicons {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px; }
    .tpbicons .fab {
      color: #999;
      padding: 10px; }
  .tpdots {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: flex-end; }
    .tpdots .tpbidots {
      width: 10px;
      height: 10px;
      margin: 5px;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid #999; }
    .tpdots .filled {
      background-color: #222; }
  .tps2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px; }
    .tps2 h3 {
      font-size: 48px;
      margin-top: 0.7em;
      margin-bottom: 0.7em; }
    .tps2 .more {
      font-size: 18px; }
      .tps2 .more:hover {
        color: #f68773; }
  .tps4 {
    text-align: center;
    color: white; }
    .tps4 h3 {
      color: white; }
    .tps4 .more {
      color: white; }
      .tps4 .more:hover {
        color: #f68773; }
  .tps5 {
    text-align: right; }
  .tssection {
    padding-top: 20px;
    padding-bottom: 50px;
    box-sizing: border-box;
    line-height: 3em; }
    .tssection .tspic1 {
      display: block;
      width: 70%;
      height: auto; }
    .tssection .tspic2 {
      display: block;
      width: 100%;
      height: auto; }
    .tssection h3 {
      font-size: 24px;
      margin-bottom: 5px; }
  .nadlist {
    list-style-type: none;
    padding-left: 0px; }
    .nadlist li {
      padding-right: 25px;
      display: inline; }
    .nadlist a {
      color: #999;
      text-decoration: none; }
      .nadlist a:active {
        color: #999;
        text-decoration: none; }
      .nadlist a:hover {
        color: #f68773; }
    .nadlist .namenu2selected {
      color: #222;
      font-weight: 700; }
  .nasection {
    margin-bottom: 10px;
    line-height: 2em; }
    .nasection .napic {
      display: block;
      width: 100%;
      height: auto; }
    .nasection h3 {
      font-size: 15px; }
  .timercells {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    line-height: 2em; }
    .timercells .countdownnumber {
      color: #222;
      font-size: 30px; }
  .lnsection {
    padding-top: 20px;
    padding-bottom: 50px; }
    .lnsection .lnpic {
      display: block;
      width: 100%;
      height: auto; }
    .lnsection .more {
      font-size: 18px;
      line-height: 2em; }
      .lnsection .more:hover {
        color: #f68773; }
  .kcsection {
    padding-top: 25px; }
  .kcsection2 {
    display: flex;
    flex-direction: row;
    align-content: stretch; }
    .kcsection2 .fa-envelope {
      display: none; }
    .kcsection2 form {
      display: inline-block;
      width: 100%; }
      .kcsection2 form input[type=text] {
        border: none;
        width: 100%; }
        .kcsection2 form input[type=text]:focus {
          border: 1px solid #999;
          border-radius: 5px; }
    .kcsection2 button {
      display: inline-block;
      justify-self: right;
      align-self: flex-end;
      margin-left: 5px;
      border: none;
      background-color: white;
      text-transform: uppercase;
      font-weight: 700; }
    .kcsection2 .kcmailaddress {
      color: #999;
      background-color: #999; }
  .picturerow .prpic {
    display: block;
    width: 100%;
    height: calc((100vw - 40px) / 3);
    object-fit: cover; }
  /* scss footer */
  footer {
    font-size: 12px; }
    footer a {
      text-decoration: none;
      color: #999; }
      footer a:active {
        text-decoration: none;
        color: #999; }
      footer a:hover {
        color: #f68773; }
    footer #footer1 {
      margin-left: 20px;
      margin-right: 20px;
      display: grid;
      grid-template-columns: 47% 47%;
      column-gap: 6%;
      grid-template-rows: auto;
      margin-bottom: 20px; }
      footer #footer1 #ftcontact {
        display: none; }
      footer #footer1 #helpinfo {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      footer #footer1 #about {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      footer #footer1 #onlineshop {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      footer #footer1 #languages {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      footer #footer1 #currency {
        grid-column: 1 / 2;
        grid-row: 3 / 4; }
      footer #footer1 .listssection .fttitle {
        padding-bottom: 1em;
        text-transform: uppercase; }
      footer #footer1 .listssection .liform {
        list-style-type: none;
        padding-left: 0px;
        line-height: 2em; }
      footer #footer1 .listssection select {
        margin-top: 1em;
        margin-bottom: 2em; }
    footer hr {
      background-color: #999; }
    footer #footer2 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; }
      footer #footer2 #copyright {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
        footer #footer2 #copyright strong {
          color: #222; }
      footer #footer2 #pritou {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 14px; }
        footer #footer2 #pritou .pritouspa {
          padding-left: 15px; }
      footer #footer2 #ftsoc {
        display: none; }
      footer #footer2 #payment {
        display: none; } }

/* pour tablettes */
@media screen and (min-width: 451px) and (max-width: 770px) {
  header {
    padding-bottom: 20px;
    background-color: #F2EDE9; }
  .header {
    height: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec; }
    .header .row {
      width: 100%;
      display: flex; }
      .header .row .logo {
        padding: 5px 25vw 0 5vw; }
        .header .row .logo img {
          width: 23vw;
          max-width: 90px; }
      .header .row .nav-menu {
        display: none;
        padding-right: 6vw; }
        .header .row .nav-menu .list-content {
          width: 40vw;
          list-style-type: none;
          margin: 0;
          padding: 0; }
          .header .row .nav-menu .list-content li {
            display: inline;
            font-size: 12px;
            font-weight: 600;
            padding-right: 6%; }
            .header .row .nav-menu .list-content li:hover {
              color: #f68773; }
      .header .row .search {
        display: none;
        box-sizing: border-box; }
        .header .row .search input {
          margin-top: -8px;
          width: 12vw;
          height: 36px;
          border: 1px solid #d3d2d2;
          position: absolute;
          padding-left: 1%;
          border-radius: 20px; }
        .header .row .search ::placeholder {
          padding-top: 15px;
          display: inline;
          color: #d1cfcf;
          text-align: left;
          vertical-align: baseline; }
        .header .row .search i {
          box-sizing: border-box;
          position: relative;
          padding-left: 10vw;
          color: #d1cfcf; }
      .header .row .icon {
        padding-top: 8px; }
        .header .row .icon ul {
          margin: 0;
          list-style-type: none;
          display: flex;
          padding-left: 25vw; }
          .header .row .icon ul .engrenage {
            display: none; }
        .header .row .icon li {
          cursor: pointer;
          color: #949799;
          font-size: 18px;
          padding-left: 10%; }
          .header .row .icon li:hover {
            color: #f68773; }
  body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: #999;
    line-height: 1.5em; }
    body h1 {
      display: none; }
    body h2 {
      font-size: 30px;
      color: #222;
      font-weight: 700; }
    body h3 {
      color: #222;
      margin-bottom: 0px; }
    body .fa-star {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .fa-star-o {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .price {
      font-size: 18px; }
    body .prixbarre {
      font-size: 18px;
      text-decoration: line-through; }
    body .more {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:hover {
        color: #f68773; }
    body .more:active {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:active:hover {
        color: #f68773; }
    body .lnauthor {
      color: #F68773;
      font-weight: 700; }
    body .namore {
      font-size: 18px; }
  #topbox {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh auto;
    margin-bottom: 100px; }
    #topbox #topboxicons {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 77; }
    #topbox #dots {
      display: none; }
    #topbox #topbox001 {
      display: none;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-attachment: fixed;
      background-size: cover; }
    #topbox #topbox002 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      background-image: url(../pictures/homepage/abc.jpg);
      background-size: cover; }
    #topbox #topbox003 {
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-row: 3 / 4;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-row: 4 / 5;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    box-sizing: border-box; }
    #global #topsellers {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto; }
      #global #topsellers #ts001 {
        display: none; }
      #global #topsellers #ts002 {
        grid-row: 1 / 2; }
      #global #topsellers #ts003 {
        grid-row: 2 / 3; }
      #global #topsellers #ts004 {
        display: none; }
    #global #newarrivalmenus {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto; }
      #global #newarrivalmenus #namenu1 {
        grid-row: 1 / 2; }
      #global #newarrivalmenus #namenu2 {
        grid-row: 2 / 3; }
      #global #newarrivalmenus #namenu3 {
        display: none; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 47% 47%;
      column-gap: 6%;
      grid-template-rows: auto;
      margin-top: 20px;
      margin-bottom: 80px; }
      #global #newarrival #na001 {
        display: none; }
      #global #newarrival #na002 {
        display: none; }
      #global #newarrival #na003 {
        display: none; }
      #global #newarrival #na004 {
        display: none; }
      #global #newarrival #na005 {
        display: none; }
      #global #newarrival #na006 {
        display: none; }
      #global #newarrival #na007 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na008 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na009 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na010 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na011 {
        display: none; }
      #global #newarrival #na012 {
        display: none; }
      #global #newarrival #nadiscover {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        text-align: center;
        padding-top: 50px; }
  #dealoftheday {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15%;
    padding-bottom: 15%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    font-size: 18px; }
    #dealoftheday h3 {
      font-size: 30px; }
    #dealoftheday .dotdprice {
      font-size: 18px; }
      #dealoftheday .dotdprice .dprixbarre {
        text-decoration: line-through; }
      #dealoftheday .dotdprice .dprice {
        font-weight: 700;
        color: #222;
        padding-left: 5px; }
    #dealoftheday .reduction {
      color: white;
      background-color: #F68773;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #dealoftheday .stock {
      display: none; }
    #dealoftheday #timer {
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: auto; }
      #dealoftheday #timer #cdwndays {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnhours {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnmin {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnsec {
        grid-column: 4 / 5;
        grid-row: 1 / 2; }
  #global2 {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    padding-bottom: 35px; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 47% 47%;
      column-gap: 6%;
      row-gap: 30px;
      margin-top: 20px;
      margin-bottom: 50px; }
      #global2 #latestnews #ln001 {
        display: none; }
      #global2 #latestnews #ln002 {
        display: none; }
      #global2 #latestnews #ln003 {
        display: none; }
      #global2 #latestnews #ln004 {
        grid-row: 1 / 2;
        grid-column: 1 / 3; }
      #global2 #latestnews #ln005 {
        grid-row: 2 / 3;
        grid-column: 1 / 2; }
      #global2 #latestnews #ln006 {
        grid-row: 2 / 3;
        grid-column: 2 / 3; }
    #global2 #keepconnected {
      display: grid;
      grid-template-columns: 47% 47%;
      column-gap: 6%;
      margin-top: 20px;
      margin-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-column: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-column: 2 / 3; }
  #bottompics {
    margin-top: 60px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(5, 1fr); }
    #bottompics #bp001 {
      display: none; }
    #bottompics #bp002 {
      display: none; }
    #bottompics #bp003 {
      grid-column: 1 / 2; }
    #bottompics #bp004 {
      grid-column: 2 / 3; }
    #bottompics #bp005 {
      grid-column: 3 / 4; }
    #bottompics #bp006 {
      grid-column: 4 /5; }
    #bottompics #bp007 {
      grid-column: 5 / 6; }
    #bottompics #bp008 {
      display: none; }
    #bottompics #bp009 {
      display: none; }
    #bottompics #bp010 {
      display: none; }
    #bottompics #bp011 {
      display: none; }
    #bottompics #bp012 {
      display: none; }
    #bottompics #bp013 {
      display: none; }
    #bottompics #bp014 {
      display: none; }
    #bottompics #followus {
      display: none; }
  .topsection {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%; }
    .topsection h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.25em; }
    .topsection .more {
      font-size: 16px; }
      .topsection .more:hover {
        color: #f68773; }
  .tpbicons {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 25px; }
    .tpbicons .fab {
      color: #999;
      padding: 10px; }
  .tps2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 30px; }
    .tps2 h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 60px;
      line-height: 3em; }
    .tps2 .more {
      font-size: 30px; }
      .tps2 .more:hover {
        color: #f68773; }
  .tps4 {
    text-align: center;
    color: white; }
    .tps4 h3 {
      color: white; }
    .tps4 .more {
      color: white; }
      .tps4 .more:hover {
        color: #f68773; }
  .tps5 {
    text-align: right; }
  .tssection {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 3em; }
    .tssection .tspic2 {
      display: inline-block;
      width: 80%;
      height: auto;
      margin-left: -10%; }
    .tssection .ts001text {
      display: inline-block;
      z-index: 10;
      width: 30%; }
    .tssection h3 {
      font-size: 30px;
      margin-bottom: 5px;
      line-height: 1.25em; }
    .tssection .more {
      font-size: 18px; }
      .tssection .more:hover {
        color: #f68773; }
  .nadlist {
    list-style-type: none;
    padding-left: 0px; }
    .nadlist li {
      padding-right: 25px;
      display: inline; }
    .nadlist a {
      color: #999;
      text-decoration: none; }
      .nadlist a:active {
        color: #999;
        text-decoration: none; }
      .nadlist a:hover {
        color: #f68773; }
    .nadlist .namenu2selected {
      color: #222;
      font-weight: 700; }
  .nasection .napic {
    display: block;
    width: 100%;
    height: auto; }
  .timercells {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    line-height: 2em; }
    .timercells .countdownnumber {
      color: #222;
      font-size: 36px; }
  .lnsection {
    padding-bottom: 40px;
    font-size: 16px; }
    .lnsection .lnpic {
      display: block;
      width: 100%;
      height: auto; }
    .lnsection .more {
      font-size: 18px;
      line-height: 2em; }
      .lnsection .more:hover {
        color: #f68773; }
  .kcsection h3 {
    font-size: 16px; }
  .mailcontainer {
    display: flex; }
    .mailcontainer .mailbottom {
      align-self: flex-end;
      justify-self: flex-end; }
      .mailcontainer .mailbottom .kcsection2 {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        vertical-align: bottom; }
        .mailcontainer .mailbottom .kcsection2 .fa-envelope {
          align-self: center;
          font-size: 20px;
          padding-right: 5px; }
        .mailcontainer .mailbottom .kcsection2 form {
          display: inline-block;
          width: 100%;
          align-self: flex-end; }
          .mailcontainer .mailbottom .kcsection2 form input[type=text] {
            border: none;
            width: 100%; }
            .mailcontainer .mailbottom .kcsection2 form input[type=text]:focus {
              border: 1px solid #999;
              border-radius: 5px; }
        .mailcontainer .mailbottom .kcsection2 button {
          display: inline-block;
          justify-self: right;
          align-self: flex-end;
          margin-left: 5px;
          border: none;
          background-color: white;
          text-transform: uppercase;
          font-weight: 700; }
      .mailcontainer .mailbottom .kcmailaddress {
        color: #999;
        background-color: #999;
        vertical-align: baseline; }
  .picturerow .prpic {
    display: block;
    width: 100%;
    height: calc(100vw / 5);
    object-fit: cover; }
  /* footer */
  footer {
    font-size: 14px;
    /* positionnement dans le grid */ }
    footer a {
      text-decoration: none;
      color: #999; }
      footer a:active {
        text-decoration: none;
        color: #999; }
      footer a:hover {
        color: #f68773; }
    footer #footer1 {
      margin-left: 20px;
      margin-right: 20px;
      display: grid;
      grid-template-columns: 30% 30% 30%;
      column-gap: 5%;
      grid-template-rows: auto;
      margin-bottom: 20px;
      /* mise en forme du texte */ }
      footer #footer1 #ftcontact {
        display: none; }
      footer #footer1 #helpinfo {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      footer #footer1 #about {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      footer #footer1 #onlineshop {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      footer #footer1 #languages {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      footer #footer1 #currency {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      footer #footer1 .listssection {
        padding-left: 10%; }
        footer #footer1 .listssection .fttitle {
          padding-bottom: 1em;
          text-transform: uppercase; }
        footer #footer1 .listssection .liform {
          list-style-type: none;
          padding-left: 0px;
          line-height: 2em; }
        footer #footer1 .listssection select {
          margin-top: 1em;
          margin-bottom: 3em; }
    footer hr {
      background-color: #999; }
    footer #footer2 {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      margin-bottom: 50px; }
      footer #footer2 #copyright {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
        footer #footer2 #copyright strong {
          color: #222; }
      footer #footer2 #pritou {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 16px;
        padding-top: 15px; }
        footer #footer2 #pritou .pritouspa {
          padding-left: 15px; }
      footer #footer2 #ftsoc {
        display: none; }
      footer #footer2 #payment {
        display: none; } }

/* pour bureau */
@media screen and (min-width: 770px) {
  header {
    padding-bottom: 20px;
    background-color: #F2EDE9; }
  .header {
    height: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ececec; }
    .header .row {
      display: flex; }
      .header .row .logo {
        padding: 0 10vw 0 3vw; }
        .header .row .logo img {
          width: 5vw; }
      .header .row .nav-menu .list-content {
        width: 44vw;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .header .row .nav-menu .list-content li {
          display: inline;
          font-size: 12px;
          font-weight: 600;
          padding-right: 5%; }
          .header .row .nav-menu .list-content li:hover {
            color: #f68773; }
        .header .row .nav-menu .list-content a {
          text-decoration: none;
          color: #222; }
          .header .row .nav-menu .list-content a:active {
            text-decoration: none;
            color: #222; }
          .header .row .nav-menu .list-content a:hover {
            color: #f68773; }
      .header .row .search {
        box-sizing: border-box; }
        .header .row .search input {
          margin-top: -8px;
          width: 12vw;
          height: 36px;
          border: 1px solid #d3d2d2;
          position: absolute;
          padding-left: 1%;
          border-radius: 20px;
          font-size: 12px; }
        .header .row .search ::placeholder {
          padding-top: 5px;
          display: inline;
          color: #d1cfcf;
          text-align: left;
          vertical-align: baseline; }
        .header .row .search i {
          box-sizing: border-box;
          position: relative;
          padding-left: 10vw;
          color: #d1cfcf; }
      .header .row .icon {
        box-sizing: border-box;
        padding-left: 5vw; }
        .header .row .icon ul {
          position: relative;
          width: 14vw;
          margin: 0;
          padding: 0;
          list-style-type: none; }
          .header .row .icon ul .loupe {
            display: none; }
          .header .row .icon ul .barres {
            display: none; }
        .header .row .icon li {
          cursor: pointer;
          display: inline;
          color: #949799;
          font-weight: 550;
          font-size: 20px;
          padding-left: 7%; }
          .header .row .icon li:hover {
            color: #f68773; }
  body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    color: #999;
    line-height: 1.5em; }
    body h1 {
      display: none; }
    body h2 {
      font-size: 30px;
      color: #222;
      font-weight: 700; }
    body h3 {
      color: #222;
      margin-bottom: 0px; }
    body .fa-star {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .fa-star-o {
      font-size: 10px;
      color: #F68773;
      margin-bottom: 5px; }
    body .price {
      font-size: 18px; }
    body .prixbarre {
      font-size: 18px;
      text-decoration: line-through; }
    body .more {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:hover {
        color: #f68773; }
    body .more:active {
      color: #222;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 700; }
      body .more:active:hover {
        color: #f68773; }
    body .lnauthor {
      color: #F68773;
      font-weight: 700; }
    body .namore {
      font-size: 18px; }
  #topbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75vh 25vh;
    margin-bottom: 80px; }
    #topbox #topboxicons {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 77; }
    #topbox #dots {
      display: none;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      z-index: 77; }
    #topbox #topbox001 {
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      background-image: url(../pictures/homepage/abc.jpg);
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: cover; }
    #topbox #topbox002 {
      display: none; }
    #topbox #topbox003 {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top right; }
    #topbox #topbox004 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_2.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    #topbox #topbox005 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      background-image: url(../pictures/homepage/banner_h1_3.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left; }
  #global {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px; }
    #global #topsellers {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-template-rows: auto;
      column-gap: 5%;
      row-gap: 40px;
      margin-bottom: 80px; }
      #global #topsellers #ts001 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #topsellers #ts002 {
        grid-column: 2 / 4;
        grid-row: 1 / 2; }
      #global #topsellers #ts003 {
        grid-column: 1 / 3;
        grid-row: 2 / 3; }
      #global #topsellers #ts004 {
        grid-column: 3 / 4;
        grid-row: 2 / 3; }
    #global #newarrivalmenus {
      display: grid;
      grid-template-columns: 47% 47%;
      grid-template-rows: auto; }
      #global #newarrivalmenus #namenu1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrivalmenus #namenu2 {
        display: none;
        grid-row: 2 / 3; }
      #global #newarrivalmenus #namenu3 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      column-gap: 5%;
      row-gap: 40px;
      grid-template-rows: auto;
      margin-top: 20px; }
      #global #newarrival #na001 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na002 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na003 {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      #global #newarrival #na004 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na005 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na006 {
        grid-column: 3 / 4;
        grid-row: 2 / 3; }
      #global #newarrival #na007 {
        display: none; }
      #global #newarrival #na008 {
        display: none; }
      #global #newarrival #na009 {
        display: none; }
      #global #newarrival #na010 {
        display: none; }
      #global #newarrival #na011 {
        display: none; }
      #global #newarrival #na012 {
        display: none; }
      #global #newarrival #nadiscover {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        text-align: center;
        padding-top: 15px; }
  #dealoftheday {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 17.5%;
    padding-right: 17.5%;
    padding-top: 15%;
    padding-bottom: 15%;
    height: auto;
    background-image: url(../pictures/homepage/deals_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
    font-size: 20px;
    line-height: 2em; }
    #dealoftheday h3 {
      font-size: 36px; }
    #dealoftheday .dotdprice {
      font-size: 18px; }
      #dealoftheday .dotdprice .dprixbarre {
        text-decoration: line-through; }
      #dealoftheday .dotdprice .dprice {
        font-weight: 700;
        color: #222;
        padding-left: 5px; }
    #dealoftheday .reduction {
      color: white;
      background-color: #F68773;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #dealoftheday .stock {
      color: white;
      background-color: green;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    #dealoftheday #timer {
      width: 60%;
      height: auto;
      background-color: white;
      display: grid;
      grid-template-columns: repeat(4, 25%);
      grid-template-rows: auto; }
      #dealoftheday #timer #cdwndays {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnhours {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnmin {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      #dealoftheday #timer #cdwnsec {
        grid-column: 4 / 5;
        grid-row: 1 / 2; }
  #global2 {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 30%);
      column-gap: 5%; }
      #global2 #latestnews #ln001 {
        grid-column: 1 / 2; }
      #global2 #latestnews #ln002 {
        grid-column: 2 / 3; }
      #global2 #latestnews #ln003 {
        grid-column: 3 / 4; }
      #global2 #latestnews #ln004 {
        display: none; }
      #global2 #latestnews #ln005 {
        display: none; }
      #global2 #latestnews #ln006 {
        display: none; }
    #global2 #keepconnected {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 20px;
      margin-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-column: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-column: 2 / 3; }
  #bottompics {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr); }
    #bottompics #bp001 {
      display: none; }
    #bottompics #bp002 {
      display: none; }
    #bottompics #bp003 {
      display: none; }
    #bottompics #bp004 {
      display: none; }
    #bottompics #bp005 {
      display: none; }
    #bottompics #bp006 {
      display: none; }
    #bottompics #bp007 {
      display: none; }
    #bottompics #bp008 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; }
    #bottompics #bp009 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; }
    #bottompics #bp010 {
      grid-column: 3 / 4;
      grid-row: 1 / 2; }
    #bottompics #bp011 {
      grid-column: 4 / 5;
      grid-row: 1 / 2; }
    #bottompics #bp012 {
      grid-column: 5 / 6;
      grid-row: 1 / 2; }
    #bottompics #bp013 {
      grid-column: 6 / 7;
      grid-row: 1 / 2; }
    #bottompics #bp014 {
      grid-column: 7 / 8;
      grid-row: 1 / 2; }
    #bottompics #followus {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
      z-index: 23;
      display: flex; }
      #bottompics #followus .fusquare {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        align-self: center;
        background-color: #F68773;
        color: white;
        padding: 20px; }
        #bottompics #followus .fusquare .fusmaller {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 16px; }
        #bottompics #followus .fusquare .fubigger {
          font-size: 30px;
          font-weight: 700; }
  .topsection {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 10%;
    padding-right: 10%; }
    .topsection h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 1.25em; }
    .topsection .more {
      font-size: 16px; }
      .topsection .more:hover {
        color: #f68773; }
  .tpbicons {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 25px; }
    .tpbicons .fab {
      color: #999;
      padding: 10px;
      padding-left: 25px; }
  .tps1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50%;
    padding-right: 10%;
    font-size: 24px; }
    .tps1 h3 {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 72px; }
    .tps1 .more {
      font-size: 24px; }
      .tps1 .more:hover {
        color: #f68773; }
    .tps1 .topcolored {
      color: #F68773;
      text-transform: uppercase; }
  .tps3 {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .tps4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white; }
    .tps4 h3 {
      color: white; }
    .tps4 .more {
      color: white; }
      .tps4 .more:hover {
        color: #f68773; }
  .tps5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right; }
  .naflex {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right; }
    .naflex .nadlist {
      list-style-type: none;
      padding-left: 0px; }
      .naflex .nadlist li {
        padding-left: 25px;
        display: inline; }
      .naflex .nadlist a {
        color: #999;
        text-decoration: none; }
        .naflex .nadlist a:active {
          color: #999;
          text-decoration: none; }
        .naflex .nadlist a:hover {
          color: #f68773; }
      .naflex .nadlist .namenu2selected {
        color: #222;
        font-weight: 700; }
  .nasection {
    line-height: 2.5em; }
    .nasection h3 {
      margin-top: 5px; }
    .nasection .prixbarre {
      padding-right: 10px; }
    .nasection .napic {
      display: block;
      width: 100%;
      height: auto; }
    .nasection .blue {
      display: inline-block;
      position: relative;
      margin-right: 8px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: solid 2px #d6d3d3;
      background-color: #5760e0; }
    .nasection .red {
      display: inline-block;
      position: relative;
      margin-right: 8px;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: solid 2px #d6d3d3;
      background-color: #ff4343; }
    .nasection .clsize {
      display: inline-block;
      position: relative;
      text-align: center;
      line-height: 1.4em;
      width: 18px;
      height: 18px;
      font-size: 12px;
      padding: 0px;
      margin-right: 8px;
      border: none;
      border-radius: 50%;
      background-color: #e0e0e0;
      color: #999; }
  .tssectionbig2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px; }
    .tssectionbig2 .tspic1 {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      padding-top: 10%;
      margin-bottom: -10%; }
    .tssectionbig2 .ts001text {
      display: inline-block;
      padding-left: 10%;
      z-index: 10;
      line-height: 1.25em; }
      .tssectionbig2 .ts001text .price {
        line-height: 3em; }
  .tssectionbig1 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    overflow: visible;
    margin-top: 20px; }
    .tssectionbig1 .tspic2 {
      display: inline-block;
      width: 80%;
      height: auto;
      margin-left: -10%; }
    .tssectionbig1 .ts001text {
      display: inline-block;
      z-index: 10;
      width: 30%;
      line-height: 2em; }
      .tssectionbig1 .ts001text h3 {
        font-size: 30px;
        line-height: 1.25em; }
      .tssectionbig1 .ts001text .price {
        line-height: 3em; }
      .tssectionbig1 .ts001text .more {
        font-size: 18px; }
        .tssectionbig1 .ts001text .more:hover {
          color: #f68773; }
  .timercells {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    line-height: 2em; }
    .timercells .countdownnumber {
      color: #222;
      font-size: 36px; }
  .lnsection {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px; }
    .lnsection .lnpic {
      display: block;
      width: calc(30 / 100 * 65 / 100 * 100vw);
      height: calc(30 / 100 * 65 / 100 * 100vw / 370 * 300);
      object-fit: cover; }
    .lnsection .more {
      font-size: 18px;
      line-height: 2em; }
      .lnsection .more:hover {
        color: #f68773; }
    .lnsection .lnauthor {
      text-transform: uppercase;
      font-size: 12px; }
    .lnsection .lndate {
      font-size: 12px; }
  .kcsection h3 {
    font-size: 16px; }
  .mailcontainer {
    display: flex; }
    .mailcontainer .mailbottom {
      align-self: flex-end;
      justify-self: flex-end; }
      .mailcontainer .mailbottom .kcsection2 {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        vertical-align: bottom; }
        .mailcontainer .mailbottom .kcsection2 .fa-envelope {
          align-self: center;
          font-size: 20px;
          padding-right: 5px; }
        .mailcontainer .mailbottom .kcsection2 form {
          display: inline-block;
          width: 100%;
          align-self: flex-end; }
          .mailcontainer .mailbottom .kcsection2 form input[type=text] {
            border: none;
            width: 100%; }
            .mailcontainer .mailbottom .kcsection2 form input[type=text]:focus {
              border: 1px solid #999;
              border-radius: 5px; }
        .mailcontainer .mailbottom .kcsection2 button {
          display: inline-block;
          justify-self: right;
          align-self: flex-end;
          margin-left: 5px;
          border: none;
          background-color: white;
          text-transform: uppercase;
          font-weight: 700; }
      .mailcontainer .mailbottom .kcmailaddress {
        color: #999;
        background-color: #999;
        vertical-align: baseline; }
  .picturerow {
    margin-top: 25px;
    margin-bottom: 25px; }
    .picturerow .prpic {
      display: block;
      width: 100%;
      height: calc(100vw / 7);
      object-fit: cover; }
  /* footer bureau */
  footer {
    font-size: 12px;
    color: #999;
    /* positionnement dans le grid */ }
    footer a {
      text-decoration: none;
      color: #999; }
      footer a:active {
        text-decoration: none;
        color: #999; }
      footer a:hover {
        color: #f68773; }
    footer #footer1 {
      margin-left: 17.5%;
      margin-right: 17.5%;
      display: grid;
      grid-template-columns: 40% 18% 18% 18%;
      column-gap: 2%;
      grid-template-rows: auto;
      margin-bottom: 20px;
      /* mise en forme du texte */ }
      footer #footer1 #ftcontact {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      footer #footer1 #helpinfo {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      footer #footer1 #about {
        grid-column: 3 / 4;
        grid-row: 1 / 2; }
      footer #footer1 #onlineshop {
        grid-column: 4 / 5;
        grid-row: 1 / 2; }
      footer #footer1 #languages {
        display: none; }
      footer #footer1 #currency {
        display: none; }
      footer #footer1 .ftcontactstyle {
        font-size: 15px;
        line-height: 3em; }
        footer #footer1 .ftcontactstyle .ftcontactpic {
          padding-bottom: 0.75em; }
        footer #footer1 .ftcontactstyle .fa-map-marker-alt {
          padding-top: 1em;
          vertical-align: top; }
        footer #footer1 .ftcontactstyle .fa-envelope {
          vertical-align: middle; }
        footer #footer1 .ftcontactstyle .fa-phone-alt {
          vertical-align: middle; }
        footer #footer1 .ftcontactstyle .ftaddress {
          display: inline-block;
          line-height: 1em; }
        footer #footer1 .ftcontactstyle .fas {
          font-size: 25px;
          padding: 2px;
          padding-right: 10px; }
        footer #footer1 .ftcontactstyle .far {
          font-size: 25px;
          padding: 2px;
          padding-right: 10px; }
      footer #footer1 .listssection {
        color: #999; }
        footer #footer1 .listssection .fttitle {
          padding-bottom: 1em;
          text-transform: uppercase;
          color: #222;
          font-size: 12px; }
        footer #footer1 .listssection .liform {
          list-style-type: none;
          padding-left: 0px;
          line-height: 2em; }
        footer #footer1 .listssection select {
          margin-top: 1em;
          margin-bottom: 3em; }
    footer hr {
      display: none;
      background-color: #999; }
    footer #footer2 {
      margin-left: 17.5%;
      margin-right: 17.5%;
      display: grid;
      grid-template-columns: repeat(3, calc(100%/3));
      grid-template-rows: auto;
      margin-bottom: 50px; }
      footer #footer2 #copyright {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        color: #999;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center; }
        footer #footer2 #copyright strong {
          color: #222; }
      footer #footer2 #pritou {
        display: none;
        font-size: 16px;
        padding-top: 15px; }
        footer #footer2 #pritou .pritouspa {
          padding-left: 15px; }
      footer #footer2 #ftsoc {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        footer #footer2 #ftsoc .fab {
          padding: 3px; }
      footer #footer2 #payment {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center; }
        footer #footer2 #payment .paymentpic {
          padding: 2px; } }
