@media only screen and (max-width: 500px) {
  h1 {
    display: none; }
  #topbox {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, 250px); }
    #topbox #snakerpic {
      grid-row: 1 / 3;
      grid-column: 1 / 2; }
    #topbox #topbox001 {
      display: none; }
    #topbox #topbox002 {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      z-index: 10; }
    #topbox #topbox003 {
      grid-row: 3 / 4; }
    #topbox #topbox004 {
      grid-row: 4 / 5; }
    #topbox #topbox005 {
      grid-row: 5 / 6; }
  #global {
    margin-left: 20px;
    margin-right: 20px; }
    #global #topsellers {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 350px); }
      #global #topsellers #tsOO1 {
        grid-row-start: 1;
        grid-row-end: 2; }
      #global #topsellers #ts002 {
        grid-row: 2 / 3; }
      #global #topsellers #ts003 {
        grid-row: 3 / 4; }
      #global #topsellers #ts004 {
        grid-row: 4 / 5; }
    #global #newarrival {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: repeat(3, 200px); }
      #global #newarrival #na001 {
        display: none; }
      #global #newarrival #na002 {
        display: none; }
      #global #newarrival #na003 {
        display: none; }
      #global #newarrival #na004 {
        display: none; }
      #global #newarrival #na005 {
        display: none; }
      #global #newarrival #na006 {
        display: none; }
      #global #newarrival #na007 {
        grid-column: 1 / 2;
        grid-row: 1 / 2; }
      #global #newarrival #na008 {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      #global #newarrival #na009 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      #global #newarrival #na010 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      #global #newarrival #na011 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; }
      #global #newarrival #na012 {
        grid-column: 2 / 2;
        grid-row: 3 / 4; }
  #dealoftheday {
    margin: 20px;
    height: 300px;
    background-color: green;
    border: 1px solid black; }
  #global2 {
    margin-left: 20px;
    margin-right: 20px; }
    #global2 #latestnews {
      display: grid;
      grid-template-rows: repeat(3, 300px);
      grid-template-columns: auto; }
      #global2 #latestnews #ln001 {
        display: none; }
      #global2 #latestnews #ln002 {
        display: none; }
      #global2 #latestnews #ln003 {
        display: none; }
      #global2 #latestnews #ln004 {
        grid-row: 1 / 2; }
      #global2 #latestnews #ln005 {
        grid-row: 2 / 3; }
      #global2 #latestnews #ln006 {
        grid-row: 3 / 4; }
    #global2 #keepconnected {
      display: grid;
      grid-template-rows: repeat(2, 125px);
      margin-top: 20px;
      margin-bottom: 20px; }
      #global2 #keepconnected #kctext {
        grid-row: 1 / 2; }
      #global2 #keepconnected #kcemail {
        grid-row: 2 / 3; }
  #bottompics {
    margin: 20px;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(3, 1fr); }
    #bottompics #bp001 {
      grid-column: 1 / 2; }
    #bottompics #bp002 {
      grid-column: 2 / 3; }
    #bottompics #bp003 {
      grid-column: 3 /4; }
    #bottompics #bp004 {
      display: none; }
    #bottompics #bp005 {
      display: none; }
    #bottompics #bp006 {
      display: none; }
    #bottompics #bp007 {
      display: none; }
    #bottompics #bp008 {
      display: none; }
    #bottompics #bp009 {
      display: none; }
    #bottompics #bp010 {
      display: none; }
    #bottompics #bp011 {
      display: none; }
    #bottompics #bp012 {
      display: none; }
    #bottompics #bp013 {
      display: none; }
    #bottompics #bp014 {
      display: none; }
  .test {
    background-color: red;
    border: 1px solid black; }
  .test2 {
    background-color: teal;
    border: 1px solid black; }
  .test3 {
    background-color: cyan;
    border: 1px solid black; }
  .test4 {
    background-color: yellow;
    border: 1px solid black; }
  .test5 {
    background-color: magenta;
    border: 1px solid black; }
  .picturerow {
    background-color: #dac7eb;
    border: 1px solid black; } }
