html {
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  padding: 0px 50px;
  border-bottom: 1px solid #ececec; }

.logo {
  padding: 26px 15px 30px; }

.nav-menu {
  padding: 40px; }
  .nav-menu a {
    color: black; }
    .nav-menu a:hover {
      text-decoration: none;
      color: #f68773; }

.search {
  position: relative;
  box-sizing: content-box;
  max-width: 80%;
  border: 1px solid #d1cfcf;
  padding: 8px;
  margin-top: 30px;
  border-radius: 25px; }
  .search input {
    border: none;
    position: absolute;
    left: 15px; }
  .search i {
    margin-right: 20px;
    color: #d1cfcf; }
  .search ::placeholder {
    color: #d1cfcf; }

.icon {
  margin-top: 38px;
  padding-left: 30px; }
  .icon li {
    margin: 0 10px; }
  .icon i {
    color: #949799;
    font-size: 20px; }

.path {
  display: flex; }
  .path :nth-of-type(3) {
    font-weight: 500 !important;
    color: #626060 !important; }
  .path h2 {
    padding: 0px 10px;
    font-weight: 400;
    font-size: 16px;
    color: #999;
    margin-top: 37px; }
  .path span {
    font-size: 45px; }

.option {
  margin-top: 80px; }
  .option h2 {
    font-size: 28px;
    padding-left: 10px; }
  .option h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px; }
  .option #items {
    margin-left: 65px; }
  .option .col2 {
    display: flex; }
  .option #sortBy {
    margin-left: 40px; }
    .option #sortBy span {
      color: #999;
      font-weight: 500;
      padding-left: 10px; }
  .option #icon1 {
    margin-left: 50px;
    padding-top: 8px; }
    .option #icon1 i {
      padding-left: 10px;
      font-weight: 550;
      color: #c7c2c2; }
  .option #icon2 {
    margin-left: 25px;
    padding-top: 8px; }
    .option #icon2 i {
      padding-left: 10px;
      font-weight: 550;
      color: #c7c2c2; }
  .option #shopBy {
    font-size: 24px !important; }

.mw-100 {
  max-width: 100%; }

.prix {
  color: #999; }

.stars {
  font-size: 10px;
  color: #f68873; }

.round {
  display: flex;
  list-style: none;
  padding: 0; }
  .round :nth-of-type(2) {
    padding-left: 10px;
    color: blue; }

.size {
  display: flex;
  list-style: none;
  padding: 0; }
  .size p {
    font-size: 10px;
    border: 1px solid #f4f4f4;
    width: 19px;
    height: 19px;
    background-color: #f4f4f4;
    border-radius: 50%;
    text-align: center;
    color: #666363; }
  .size :nth-of-type(2) {
    padding-left: 10px; }

.roundColor label {
  font-size: 13px;
  color: #999; }

.roundColor i {
  font-size: 15px; }

.sizeSettings {
  list-style: none; }
  .sizeSettings p {
    border: 1px solid #c7c2c2;
    padding: 2px 10px;
    font-size: 13px;
    color: #999; }

.h3rs {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px; }

.brand label {
  font-size: 13px;
  color: #999; }

.brand input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #999;
  height: 11px;
  width: 11px; }

.compareProd h3 {
  font-size: 20px; }

.compareProd p {
  font-size: 13px;
  color: #999; }

.nbrSelector ul {
  list-style: none; }
  .nbrSelector ul li {
    padding: 10px; }
    .nbrSelector ul li i {
      font-size: 30px;
      color: #c7c2c2; }

.socialMedia {
  list-style: none; }
  .socialMedia li {
    padding: 10px;
    font-size: 10px; }

.payment ul {
  list-style: none; }

.top {
  padding: 15px; }
  .top i {
    color: #c7c2c2;
    font-size: 30px; }
