body

{
	color: #999;
	font-family: Roboto, sans-serif;
	letter-spacing: 0.5px;

}

.hammenu
{
	width: 320px;
	height: 500px;
	border: solid 1px black;
}

#cross
{
	margin-top: 20px;
	margin-left: 40px;
}

li
{
	padding-left: -20px;
	list-style: none;
	font-weight: bold;
}

hr
{	
	height:0.5px;border-width:0;color:gray;background-color:gray
	}

.black
{
	color: black;

}


.adress
{
	color: #999;
	font-size: 12px;
	line-height: 1.5;
}